<div class="recommended-card-container">
    <!-- <h4 class="recommended-label small-font-size header-gray">Recommended</h4> -->
    <div class="recommended-card">
      <div class="card-top">
        <span class="workout">Back, Trapezius</span>
        <h3 class="workout-type">ONE ARM DUMBELL ROW</h3>
      </div>
      <div class="card-bottom">
        <div class="schedule-wrapper">
          <span class="schedule">WEEK 02 • DAY 04</span>
        </div>
        <div>
          <div class="start-button">
            <svg
              width="14"
              height="17"
              viewBox="0 0 14 17"
              fill="none"
              
            >
              <path
                d="M13.4375 8.57812L0.148437 16.2506L0.148437 0.905681L13.4375 8.57812Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
