<div class="overview-card">
    <div
      class="small-font-size overview-text-content left-padding-text-content flex-left"
    >
      40%
    </div>
    <div
      class="smaller-font-size bright-green secondary-font overview-text-content right-padding-text-content flex-right"
    >
      <span>- 6.5%</span>
    </div>
    <div
      class="smaller-font-size secondary-font overview-text-content left-padding-text-content flex-left"
    >
      <span>BODYFAT</span>
    </div>
    <div class="over-view-circles">
      <div class="overflow-circle"></div>
      <div class="overflow-circle-1"></div>
      <div class="overflow-circle-2"></div>
    </div>
  </div>