<div class="main-container">
    <div class="profile-img-section">
      <img src="../../../assets/images/Mask Group.png" alt="user-image" />
    </div>
    <h3 class="good-wishes-msg header-gray">GOOD MORNING, SANJULA!</h3>
    <div class="message-card">
      <div class="circles-section">
        <div class="grey-circle"></div>
        <div class="grey-circle-2"></div>
        <div class="grey-circle-3"></div>
        <div class="circle-content content">
          <span>67KG</span>
        </div>
      </div>
      <div class="card-text-section">
        <div class="content-msg">Great! you have burnt 02kg than before</div>
        <div class="update-weight-cta header-gray">
          Update Weight
          <span
            ><svg
              width="5"
              height="9"
              viewBox="0 0 5 9"
              fill="none"
             
            >
              <path
                d="M4.82011 4.05445L1.04856 0.184716C0.808646 -0.061573 0.419663 -0.061573 0.179864 0.184716C-0.0599547 0.430786 -0.0599547 0.829888 0.179864 1.07594L3.5171 4.50006L0.179961 7.92407C-0.0598577 8.17024 -0.0598577 8.5693 0.179961 8.81537C0.41978 9.06154 0.808743 9.06154 1.04866 8.81537L4.8202 4.94558C4.94011 4.82248 5 4.66132 5 4.50008C5 4.33877 4.94 4.17749 4.82011 4.05445Z"
                fill="#868686"
              />
            </svg>
          </span>
        </div>
      </div>
    </div>

    <h4 class="recommended-label small-font-size header-gray">Recommended</h4>
    <div class="scrollbar-row">
        <app-recommended-card></app-recommended-card>
        <app-recommended-card></app-recommended-card>
        <app-recommended-card></app-recommended-card>
    </div>
  
  
    <div class="journey-section">
      <div class="journey-title-row">
        <span class="header-gray small-font-size">Journey</span>
        <span class="header-gray small-font-size link">+ Add Data</span>
      </div>
      <div class="scrollbar-row-small">
        <app-journey-card></app-journey-card>
        <app-journey-card></app-journey-card>
        <app-journey-card></app-journey-card>
        <app-journey-card></app-journey-card>
      </div>
      
    </div>
  </div>
 